<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><i class="fa fa-plus"></i> [#lang_title_deposit_balance]</h4>
        </div>
        <form action="" id="deposite_balance_form" method="POST">
            <input type="hidden" name="page" value="initialization">
            <div class="card-body">
                [@message]
                <input type="hidden" name="final_deposit" value="0">
                <div class="form-group">
                    <label>[#lang_field_35]</label>
                    <select class="form-control" name="gateway" id="gateway">
                        <option value="0" selected disabled>[#lang_field_35]</option>
                        [@gateways_list]
                    </select>
                </div>
                <div class="form-group">
                    <label>[#lang_amount]</label>
                    <input type="text" class="form-control" name="amount">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" name="ce_btn" value="save">Next</button>
                <a  href="[@url]account/wallet" class="btn btn-warning text-light float-right"> Back </a>
            </div>
        </form>
    </div>
</div>